.MainContainer{
  padding: px;
  font-family: Avenir;
  display: grid;
  grid-template-columns: 1fr 1fr 0.75fr;
  grid-template-rows: auto;
  width: 100%;
  margin: 0 auto;

}

*, *:before, *:after {
  box-sizing: border-box;
}

body{
  background: #f5f7fa;
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  color:  #7d7d7d;
  /* font-size: 15px; */
}

h1, h2, h3{
  font-family: 'Quicksand', sans-serif;
}

h1{
  color: grey;
  shadow: 5px;
  font-size: 22px;
}

h2{
  font-size: 18px;
  font-weight: 300;
}

h3{
  font-size: 16px;
  font-weight: 300;
}

p{
  text-align: justify;
  font-size: 10px;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  font-size: 20px;
  text-decoration: bold;
}



.footer{
  /* background-color: #707070;
  border-radius: 5px;
  grid-area: footer; */
grid-column: 1 / 4;
 background: #f4f8fb;
 color: #;
 padding: 2rem;
 text-align: center;
 border-top: 4px solid rgba(0, 0, 0, 0.1);
}
