.MainContainer{
  padding: 15px;
  font-family: Avenir;
  display: grid;
  grid-template-columns: 1fr 1fr 0.75fr;
  grid-template-rows: auto;
  width: 100%;
  margin: 0 auto;

  	/* display: grid;
  	grid-template-areas:
      "header header header"
      "sidebar card card"
      "footer footer footer";
  	grid-template-rows: 100px 1fr 50px;
  	grid-template-columns: 30% 1fr 18%;
  	grid-gap: 5px;
    height: 100vh;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
    1px 3px 8px rgba(39, 44, 49, 0.03); */


}

*, *:before, *:after {
  box-sizing: border-box;
}


body{
  background: #f5f7fa;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color:  #7d7d7d;
  font-size: 15px;
  line-height: 1.6em;
}


h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
}

h1{
  color: #DD5555;
  font-size: 25px;
}

h2{
  font-size: 18px;
  font-weight: 300;
}

h3{
  font-size: 16px;
  font-weight: 300;
}

p{
  text-align: justify;
}

a{
  color: #ccc;
  text-decoration: none;
}

a:hover{
  color: #DD5555;
  text-decoration: none;
}



.footer{
  /* background-color: #707070;
  border-radius: 5px;
  grid-area: footer; */
grid-column: 1 / 4;
 background: #f4f8fb;
 color: #;
 padding: 2rem;
 text-align: center;
 border-top: 4px solid rgba(0, 0, 0, 0.1);
}
