.SidebarContainer{
  font-family: 'Open Sans', sans-serif;
  grid-column: 1;
  grid-row: 2;
  background: white;
 color: grey;
  padding: 2rem;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
      1px 3px 8px rgba(39, 44, 49, 0.03);
      margin: 20px;

}

.leaflet-container {
    height: 250px;
    width: 100%;
    margin: 0 auto;
}


#img-profile{
  width: 65px;
  height: 65px;
  border: 0px solid #cccccc;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
      1px 3px 8px rgba(39, 44, 49, 0.03);
}

.img-circle{
  border-radius: 50%;
}

.showDetailsBut{
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
      1px 3px 8px rgba(39, 44, 49, 0.03);
      margin: 20px;
  	border-radius: 3.6rem;
  	cursor: pointer;
  	display: inline-block;
  	height: 3.6rem;
  	/* line-height: 3.6rem; */
  	margin: 0 5px;
  	position: relative;
  	text-align: center;
  	width: 3.6rem;
  }

  .showDetailsBut:hover {
	/* background-color: red; */
  }

.RestaurantCard{
  background: white;
   border-left: 1em solid #8a8a8a;
   border-color: #f53803;
   border-radius: 0.5rem;
   box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
   display: flex;
   justify-content: space-between;
   padding: 1rem;
   margin: 0.5rem auto;
   width: 25rem;
}

.RestaurantDetails img {
    width: 150px;
    height: 150px;
    border-radius: 80px;
    border-style: double;
    border-width: thick;
    border-color: grey;
    padding: 2.5%;
}

/* .resImg{
  background-image: url("https://images.crateandbarrel.com/is/image/Crate/TondoRoundPlatter12inSHF15/?$web_product_hero$&160203173054&wid=625&hei=625");
  background-position: center;
  background-size: 200px 200px;
  background-repeat: no-repeat;
  border-radius: 80px;

} */
