.SidebarContainer{
  grid-column: 1;
  grid-row: 2;
  background: white;
/*   color: white; */
  padding: 2rem;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
      1px 3px 8px rgba(39, 44, 49, 0.03);
      margin: 20px;

}




.SidebarHeader{


}

.RestaurantCard{
  background: white;
       border-left: 1rem solid #8a8a8a;
       border-radius: 0.5rem;
       box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
       display: flex;
       font-family: Helvetica;
       justify-content: space-between;
       padding: 1rem;
       margin: 0.5rem auto;
       width: 25rem;

}

.RestaurantDetails{
  border-style: solid;
  border-color: red;
}
