.SidebarContainer{
  border-style: solid;
  border-color: black;
  border-width: thick;
  background: #C9BFBF;
  border-radius: 5px;
	grid-area: sidebar;
  border: 3 px;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
      1px 3px 8px rgba(39, 44, 49, 0.03);
}

.SidebarHeader{
  border-style: solid;
  border-color: yellow;
}

.RestaurantCard{
  border-style: solid;
  border-color: orange;

}

.RestaurantDetails{
  border-style: solid;
  border-color: red;
}
