.SwipeContainer{
  grid-column:  2/4;
  min-height: calc(100vh - 10.5rem);
  padding: 2rem;
}

.SwipeCard{
  display: center;

  grid-gap: 2em;
  padding: 50px;
    }


    body {
      background: #f1f1f1;
    }
