.SwipeContainer{
  grid-column:  2/4;
  min-height: calc(100vh - 10.5rem);
  padding: 2rem;
  margin: 20px;

}

.SwipeCard{

background: black;
borderRadius: 3;
width: "300px";
height: "350px";
cursor: "pointer";
userSelect: "none";
position: "absolute"; 
display: "flex";
alignItems: "center";
boxShadow: "5px";
justifyContent: "center";
top: 0
    }


    body {
      background: #f1f1f1;
    }
